h1{
    color: white;
    box-sizing: border-box;
    height: 100px;
    width: auto;
    text-align: left;
    font-size:xx-large;
    padding-top: 50px;
    padding-left: 10px;
    padding-bottom: 0px;
    background-image:url(head.jpg); 
    margin-left: 0%;
    margin-top: 1%;
    
    


}

table{
    box-sizing: border-box;
    width:100%;
    margin-bottom: 7%;
}
.tdata{
    border: 2px solid black;
    text-align: center;
    width:auto;
    height: fit-content;
    background-image: url(tablebg.jpg);
    
    

}



td,th{
    border: 2px solid black;
    text-align: center;
    width:auto;
    height: fit-content;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    color: aliceblue;
    font-size:x-large;

}


#button1{
    background-color: white;
    border-radius: 10px;
    font-weight: bold;
}

#buttonDiv{
    float: right;
    text-align: right;
    margin-right: 0%;
    margin-top: 0%;
    padding-top: 0%;
    padding-bottom: 1%;
    height:fit-content;
    
    

}
